.footer-container{
    max-width: 900px;
    margin: 0 auto;
    display: block;
    overflow: auto;
    height: 70px;

    p {
      font-size: 10px;
      color: #fff;
      padding: 50px 0 0 0;
    }
}
.socials{
  float: right;
  i{
    font-size: 50px;
    color: white;
    padding: 10px 5px 10px 5px;
    }
}
.share{
  margin: 0 auto;
  width: 155px;
  height: 65px;
  float: left;
  padding: 10px 5px 10px 5px;
  margin: 1px 50px 0 50px;
}
button.btn.btn-lg.btn-primary{
  background-color: #33a2ca !important;
  border-radius: 15px;
  box-shadow: none !important;
}

  @media screen and (max-width:502px){
  .footer-container i{
    display: none;
  }
 }
