body{
    background-color: #000;    
}

#header{
    width: 100%;
    
    .navbarwrap, .navbar{
        background-color: #fff;
        margin: 0 auto;
        border: none;
    }
    
    .navbar{
        max-width: 1200px;
    }
    
    .btn.btn-lg.btn-primary{
    border-radius: 75px;
    box-shadow: none !important;    
    }
}
