<div id="btn-wrapper">
<center>      
                <img class="buttons" src="../images/vevologo.png">

                <img class="buttons" src="../images/muzulogo.png">
      
                <img class="buttons" src="../images/dailymotion.png">

                <img class="buttons" src="../images/vidzone.png">

                <img class="buttons" src="../images/youtubelogo.png">
</center>    
        </div>
    </div>
</div>
