<div id="btn-wrapper">
    <div class="container btn-cntnr">
        <div class="row">
            <div class="col-md-3 buttons">
                <center>
                <img src="holder.js/266x113">
                <center>
            </div>
            <div class="col-md-3 col-md-offset-1 buttons">
                <center>
                <img src="holder.js/266x113">
                <center>        
            </div>
            <div class="col-md-3 col-md-offset-1 buttons">
                <center>
                <img src="holder.js/266x113">
                <center> 
            </div>
        </div>
    </div>
</div>
