<div class="footer-container">
  <div class="socials">
      <div class="share">
        <button id="share" class="btn btn-lg btn-primary">Share this page</button>
      </div>
	   <i class="fa fa-facebook-square"></i>
	   <a href="" target="_blank"><i class="fa fa-twitter-square"></i></a>
	   <i class="fa fa-instagram"></i>
	   <i class="fa fa-youtube-square"></i>
  </div>
</div>
