<div class="graphic-wrapper">
    <div class="graphic-container">
        <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
        <center>
        	<img class="img-responsive" src="images/iproducts.png">
        </center>
        </div>
        <div class="col-lg-6">
        <div class="headertext">
        	<center>
        		<h1>Promote Your Music</h1><h1>with our Monetized Network</h1>
            </center>
            <div class="info">
                <br>
                <p><i class="fa fa-check-circle-o"></i>Get your content on Vevo, Muzu, and Dailymotion</p>
                <p class="subtext">All for the low price of $20</p>
                <p><i class="fa fa-check-circle-o"></i>Get into these networks' weekly meetings</p>
                <p class="subtext">Opportunity to be on their homepages and more</p>                
                <p><i class="fa fa-check-circle-o"></i>Earn money based off of your views</p>
                <p><i class="fa fa-check-circle-o"></i>Customizable Vevo Artist Page</p>
                <br>
                <center>
                <form method="post" action="https://dashboard.vydia.com/service">
    <input type="hidden" name="service" value="monetize">

    <input type="hidden" name="type" value="video">

    <input type="hidden" name="bundle_id" value="">

    <input type="hidden" name="networks_ids[]" value="40">
<input type="hidden" name="networks_ids[]" value="42">


    <input id="email" type="text" name="email" value="" placeholder="Your email address">

    <input id="geton" type="submit" class="btn btn-lg btn-primary " value="Get Started Now!">
</form>
</center>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
