        
        <header id="header">
        <div class="navbarwrap">
            <nav class="navbar navbar-inverse navbar-sub" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://vydia.com"><img src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logo-big.jpg" alt="Logo" /></a>
                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="navbar-right">
                                                                                    <a class="btn btn-lg btn-primary navbar-btn" href="http://vydia.com/services">GET ON VEVO!</a>                         
                    </div>
                </div>
            </nav>
</div>
        </header>
