<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '286406418208688', // App ID
      channelUrl : 'https://vydia.com/get-on-vevo', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>



        
        <header id="header">
        <div class="navbarwrap">
            <nav class="navbar navbar-inverse navbar-sub" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://vydia.com"><img src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logo-big.jpg" alt="Logo" /></a>
                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="navbar-right">
                                                                                    <a id="geton" class="btn btn-lg btn-primary navbar-btn">GET ON VEVO!</a>                         
                    </div>
                </div>
            </nav>
        </div>
        </header>
