<div id="sub-wrapper">
  <div class="container sub-cntnr">
    <div class="container">
      <div class="row">
        <div id="margin" class="col-md-12 text-center">
          <center>
          <div class="logo-lg">
              <img src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/03/vydialogoblack.png">
          </div>
          <h3>Sign up for access now</h3>
          <p class="enter">Enter your email address below to get started</p>
          <center>
            <form method="post" action="https://dashboard.vydia.com/service">
              <input type="hidden" name="service" value="monetize">

              <input type="hidden" name="type" value="video">

              <input type="hidden" name="bundle_id" value="">

              <input type="hidden" name="networks_ids[]" value="40">
              <input type="hidden" name="networks_ids[]" value="42">


              <input id="email" type="text" name="email" value="" placeholder="Your email address">

              <input id="geton" type="submit" class="btn btn-lg btn-primary" value="Get Started Now!">
            </form>
          </center>              
          <p class="logo">
            <img src="http://pullzone.vydiainc.netdna-cdn.com/wp-content/uploads/2014/02/logo-bottom.jpg">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
