<div class="info-wrapper">
    <div class="info-container">
        <div class="left-info-pane">
            <h1>Monetized Network</h1>
            <p>
            Make money from your music videos on Youtube, VEVO, Dailymotion, MUZU and more on one easy to use platform. No long term commitments and own 100% of your videos. As an official partner, you’ll be eligible for editorial placements on each platform to help drive awareness for your content.
            </p>
        </div>
        <div class="right-info-pane">
            <h1>A Platform that grows with you.</h1>
            <p>
            Artists are all unique, and Vydia is built with this in mind. We’ve built a platform that works for everyone from the small independent artist to the multi-platinum superstar and everything in between. Choose where each video is monetized and promoted.
            </p>
        </div>
    </div>
</div>
