<div class="info-wrapper">
    <div class="info-container">
        <div class="left-info-pane">
            <h1>Monetized Network</h1>
            <p>
            Make money from your music videos on Youtube, VEVO, Dailymotion, MUZU and more on one easy to use platform. No long term commitments and own 100% of your videos. As an official partner, you’ll be eligible for editorial placements on each platform to help drive awareness for your content.
            </p>
        </div>
        <div class="right-info-pane">
            <h1>Video Distribution</h1>
            <p>
            Wondering how to get on MTV Jams, BET, Music Choice and more? It’s easy, just sign up below and choose your destination(s).. Once submitted we’ll handle all the paperwork and production standards for the video. We’ll even help you follow up and coordinate airplay starting for as low as $20. Choose from desintations all over the world, including U.S., Europe, Australia, and Japan.
            </p>
        </div>
    </div>
</div>
